1.Create a list named ‘myList’ that has the following elements: 10, 20, 30,
‘apple’, True, 8.10:




1.   Now in the ‘myList’, append these values: 30, 40

2.After that, reverse the elements of the ‘myList’ and store that in ‘reversedList’

In [1]:
mylist = [10,20,30,'apple',True,8.10]

mylist.append(30)
mylist.append(40)

reversedlist = mylist[::-1]

print("Updated mylist:",mylist)
print("Reversed list:",reversedlist)

Updated mylist: [10, 20, 30, 'apple', True, 8.1, 30, 40]
Reversed list: [40, 30, 8.1, True, 'apple', 30, 20, 10]

2.Create a dictionary with key values as 1, 2, 3 and the values as ‘data’,
‘information’ and ‘text’:


1.    After that, eliminate the ‘text’ value from the dictionary

2.    Add ‘features’ in the dictionary
 c. Fetch the ‘data’ element from the dictionary and display it in the output

In [4]:
my_dict = {1:'data',2:'information',3:'text'}

#my_dict.pop(3)

my_dict[4] = 'features'

data_element = my_dict[1]

print("Updated dictionary:",my_dict)
print("Data element:",data_element)

Updated dictionary: {1: 'data', 2: 'information', 3: 'text', 4: 'features'}
Data element: data

3.Create a tuple and add these elements 1, 2, 3, apple, mango in my_tuple.

In [5]:
my_list = [1,2,3,'apple','mango']

my_tuple = tuple(my_list)

print("my_tuple:",my_tuple)

my_tuple: (1, 2, 3, 'apple', 'mango')

4.Create another tuple named numeric_tuple consisting of only integer values 10, 20, 30, 40, 50:


1. Find the minimum value from the numeric_tuple
2. Concatenate my_tuple with numeric_tuple and store the result in r1
3.   Duplicate the tuple named my_tuple 2 times and store that in ‘newdupli’

In [6]:
numeric_tuple = (10,20,30,40,50)

min_value = min(numeric_tuple)
print("Minimum value:",min_value)

my_tuple = (1,2,3,'apple','mango')

r1 = my_tuple + numeric_tuple
print("Concatenated tuple:",r1)

newdupli = my_tuple * 2
print("Duplicated tuple:",newdupli)

Minimum value: 10
Concatenated tuple: (1, 2, 3, 'apple', 'mango', 10, 20, 30, 40, 50)
Duplicated tuple: (1, 2, 3, 'apple', 'mango', 1, 2, 3, 'apple', 'mango')

5.Create 2 sets with the names set1 and set2, where set1 contains
 {1,2,3,4,5} and set2 contains {2,3,7,6,1}.


1.    Perform the below operation:
2. set1 union set2
3. set1 intersection set2
4. set1 difference set2

In [7]:
set1 = {1,2,3,4,5}
set2 = {2,3,7,6,1}

union_set = set1.union(set2)
print("Union of set1 and set2:",union_set)

intersection_set = set1.intersection(set2)
print("Intersection of set1 and set2:",intersection_set)

difference_set = set1.difference(set2)
print("Difference of set1 and set2:",difference_set)

Union of set1 and set2: {1, 2, 3, 4, 5, 6, 7}
Intersection of set1 and set2: {1, 2, 3}
Difference of set1 and set2: {4, 5}